:root {
  --bg-color: #e5ddd5;
  --secondary-bg: #f9f9f9;
  --text-color: #303030;
  --button-bg: #f0f0f0;
  --button-border: transparent;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
